canvas{
	position: fixed;
	top:0;
	left:0;
	z-index: -1;
}

#content{
	position: relative;
	z-index: 2;
}
#box{
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%); 
	background-color: #ffdae0;
	z-index: 3;

}
h1{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 10vw;
	color: #a9a9a9;
	opacity: 1;
	z-index: 10;
	margin-top: 10px;
	padding: 0;
	margin:0;
}
button{
	background:none;
	border: none;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 3vw;
	color: #959690;
	opacity: 1;
	z-index: 10;
	margin-top: 10px;
}