html{
	overflow-y: auto;
}

canvas{
	position: fixed;
	top:0;
	left:0;
	z-index: -1;
}

h1{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 12vw;
	color: #000000;
	z-index: 10;
	margin-top: 300px;
	margin-bottom: 5px;
}

p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	text-align: justify;
	font-size: 2vw;
	color: #000000;
	z-index: 10;
	margin-left: 9vw;
	margin-right: 9vw;
}

button{
	background:none;
	display: inline-block;
	border: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 3vw;
	color: #000000;
	z-index: 10;
}

#buttons {
	text-align: center;
}

#artistCarousel {
    padding-left: 9vw;
		padding-right: 9vw;
		padding-bottom: 9vw;
}

#hackerCarousel {
    padding-left: 9vw;
		padding-right: 9vw;
		padding-bottom: 9vw;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	padding-left: 13vw;
	padding-right: 13vw;
}

 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
